# This is a default .gitignore file.
# Add any files or directories you want Git to ignore here.

# Example: ignore build artifacts
/build

# Example: ignore node_modules
/node_modules

# Example: ignore editor files
.DS_Store
.vscode/

# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
